<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>SGIE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
						<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>SGIE</strong></a>
					<nav id="nav">
						<a href="/index">Home</a>
						<a href="/gestaoInstituicoes">Instituições</a>
						<a href="/gestaoAlunos">Alunos</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Gestão de cursos</h2>
						<p>Gerencie os cursos </p>
					</header>
					<div class="align-right" style="margin-bottom: 30px;">
						<a href="/incluirCurso" class="button">+ Novo curso</a>
					</div>
					<span th:text="${mensagem}"> </span>
						<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>nome</th>
													<th>duração (anos)</th>
													<th>status</th>
													<th>ações</th>
												</tr>
											</thead>
											<tbody>
											  <tr th:if="${cursos.empty}">
											  	  <td colspan="2"> Nenhum curso cadastrado </td>
											  </tr>
												<tr th:each="curso : ${cursos}">
							                    	<td th:text="${curso.nome}"></td>
							                    	<td th:text="${curso.duracao}"></td>
							                    	<td th:text="${curso.status}"></td>
							                    	<td><a th:href="@{/editarCurso/{id}(id=${curso.id})}">editar</a> <a th:href="@{/excluirCurso/{id}(id=${curso.id})}">excluir</a> </td>
							                	</tr>
											</tbody>
										</table>
									</div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>